


<div>
    <h1>Books &nbsp &nbsp &nbsp&nbsp &nbsp<%= link_to "Click Here", books_path, class: "btn btn-primary" %></h1>
    </br>
    <h1>Authors  &nbsp &nbsp &nbsp<%= link_to "Click Here", authors_path, class: "btn btn-primary" %></h1>
    </br>
    <h1 disabled>Collections  &nbsp<%= link_to "Click Here", @home, class: "btn btn-primary" %></h1>
    </br>
  
</div>
